@{
	ViewBag.Title = "Reset password";
	Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}


<div class="loginContainer" style="margin-top:-100px;">
	<div class="container-fluid">

		<div class="errorContainer" style="margin-top:0px;">
			<div class="page-header">
				<h3 class="center">@Resources.PublicS.SiteNoFoundText</h3>
			</div>

			@*<h2 class="center">The page cannot be found.</h2>*@

			<div class="center">
				<a href="javascript: history.go(-1)" class="btn btn-default" style="margin-right:10px;"><span class="icon16 icomoon-icon-arrow-left-10"></span>Go back</a>
				<a href="/Home/Index" class="btn btn-default"><span class="icon16 icomoon-icon-screen"></span>Go Home</a>
			</div>

		</div>

	</div><!-- End .container -->
</div>

