@{
    Layout = "~/Views/Shared/_LayoutPublicPage.cshtml";
}

<div class="box">
    <header>
        <h5>Личный сайт врача-стоматолога</h5>
        <div class="toolbar">
            <span class="label label-default">Адрес вашего сайта: doctor-premium.com/5</span>
        </div>
    </header>
    <div class="body">

        <div class="row">
            <div class=" col-lg-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        ФИО
                    </div>
                    <div class="panel-body">
                        <p>иванов Иван Иванович</p>
                    </div>
                    <div class="panel-footer">

                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Тел. для записи:
                    </div>
                    <div class="panel-body">
                        <p>+38999999999</p>
                    </div>
                    <div class="panel-footer">

                    </div>
                </div>
            </div>
            <div class="col-lg-4" >
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Email:
                    </div>
                    <div class="panel-body">
                        <p>m900000@jlkdzsjlk.ru</p>
                    </div>
                    <div class="panel-footer">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-7" >
                <div class="panel panel-info">
                    <div class="panel-heading">
                        О докторе:
                    </div>
                    <div class="panel-body">
                        <p>Прктикующий доктор стоматолог. Практика 20 лет</p>
                    </div>
                    <div class="panel-footer">

                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        Адрес приема:
                    </div>
                    <div class="panel-body">
                        <p>Укр, киев</p>
                    </div>
                    <div class="panel-footer">

                    </div>
                </div>
            </div>
           
        </div>

        </div>
       
        <div class="row">
            <div class="col-lg-4" style="width: 100%">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        Услуги и цены:
                    </div>
                    <div class="panel-body">
                        1. Общее
                        1.1. Консультация врача стоматолога; 200р.
                        1.2. Повторный осмотр врача стоматолога; 100р.
                        1.3. Осмотр с выдачей справки о санации полости рта; 200р.
                        1.4. Снимок радиовизиографический; 200р.
                        1.5. Снимок радиовизиографический с распечаткой; 220р.
                        1.6. Косметические украшения на зубах (1ед.); 800р.
                        1.7 Лечение заболевания парадонтита аппаратом :
                        Ирригатор полости рта CS Medical AquaPulsar OS - 1 - 5000р.
                        1.8 Обучение гигиене полости рта с использованием аппаратом:
                        Электрическая звуковая зубная щетка Medica SonicPulsar CS - 161 - 1200р
                        1.9 Обучение гигиене полости рта аппаратом :
                        Электрическая звуковая зубная щетка СS - 262+ Зубная паста SPLAT - 1500р.
                        1.10 Обучение гигиене полости рта аппаратом :
                        Электрическая звуковая зубная щетка Medica SonicPulsar CS -233- UV -3000р.
                    </div>
                    <div class="panel-footer">

                    </div>
                </div>
            </div>
        </div>
    </div>
