@model     IEnumerable<DoctorPremium.Web.Models.HelpDataModels>

@foreach (var item in Model)
{
    @Html.Raw(item.Description);
}



 
@*<div class="panel panel-default toggle panelClose panelRefresh" id="supr2">
     
    <div class="panel-heading" style="color: green;float: inherit;font-size: 21px;">
        <h4 class="panel-title" style="padding-left: 55px;">Help<i aria-hidden="true" class="entypo-icon-help"></i></h4>

    </div>
    <div class="panel-body p0" style="padding: 3px;">
        <div class="instagram-widget">
            <!-- .instagram widget -->

            <div class="instagram-widget-image">
                <div id="instagram-widget" class="carousel slide">
                    <!-- Indicators -->
                 
                    <div class="panel panel-default toggle panelClose panelRefresh" id="supr2">


                        <button class="btn btn-lg btn-block btn-info" href="/Home/Help"><span class="icon16 icomoon-icon-info-2 white"></span> Help schedule?</button>
                    </div>

                </div><!-- End Carousel -->
            </div>
        </div>
    </div><!-- /.instagram widget -->
</div>*@


